.App {
  background-color: #19181A;
  text-align: center;
}

.square {
  display: block;
  max-width:100%;
  max-height:100%;
  margin: auto;
  /* margin-right: auto; */
  object-fit: cover;
  width:250px;
  height:250px;
}

.title {
  color: white;
  font-family: "American Typewriter", Times, serif;
  font-size: 100px;
  margin: 0;
}

.sub-title {
  color: white;
  font-family: "American Typewriter", Times, serif;
  font-size: 30px;
  text-align: right;
  margin: 0;
}

h1 {
  color: white;
  font-family: "American Typewriter", Times, serif;
  font-size: 30px;
  margin: 0;
}

ul {
  list-style-type: none;
}

hr {
  width: 80%;
}

.header {
  /* background-color: red; */
  display: inline-block;
  height: 175px;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
}

.nav-box {
  display: inline-block;
  background-color: blue;
  height: 100px;
  padding: 0;
  text-align: center;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin: 15px;
}

.nav-link-selected {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
  /* height: 150px; */
  justify-content: space-around;
}

.square-label {
  color: white;
  font-size: 17px;
}

.square-label-hover {
  color: green;
  font-size: 17px;
}

.content {
  background-color: white;
}

.accolade {
  margin: auto;
}

.footer {
  background-color: red;
  height: 150px;
  padding: 0;
  text-align: center;
}
